<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">

	<title>Document</title>
</head>
<body>
	<div id="app" class="block">
		<filtering :filter="filter" v-on:change-filter-field="changeFilter" v-on:change-filter-query="changeQuery"></filtering>
		<table class="table">
			<template v-for="individual in people">
				<team-member v-bind:person="individual" :filter="filter"></team-member>
			</template>
		</table>
	</div>

	<script type="text/x-template" id="team-member-template">
		<tr v-show="filterRow()">
			<td>{{ person.name }}</td>
			<td>
				<a :href="'mailto:' + person.email" >{{ person.email }}</a>
			</td>
			<td :class='balanceClass'>{{ balanceAmount }}</td>
			<td :class="activeClass">{{ status }}</td>
			<td>{{ dateRegistered }}</td>
		</tr>
	</script>

	<script type="text/x-template" id="filtering-template">
		<form>
			<label for="filterField" class="label">
				Field:
				<!--<select id="filter.field" v-model="filter.field" class="select">-->
				<select id="filterField" v-on:change="changeFilterField($event)" class=".select">
					<option value="">Disable Options</option>
					<option value="isActive">Active User</option>
					<option value="name">Name</option>
					<option value="email">Email</option>
					<option value="balance">Balance</option>
					<option value="isRegistered">Registered Date</option>
				</select>
			</label>

			<label for="filterQuery" v-show="this.filter.field && !isActiveFilterSelected()" class="label">
				Query:
				<input type="text" id="filterQuery" v-model="filter.query" class="input">
			</label>
			<span v-show="isActiveFilterSelected()">
				Active: 
				<label for="userStateActive" class="label">
					Yes:
					<input type="radio" :value="true" id="userStateActive" v-model="filter.query" class="radio">
				</label>
				<label for="userStateInactive" class="label">
					No:
					<input type="radio" id="userStateInactive" :value="false" v-model="filter.query" class="radio">
				</label>
			</span>
		</form>
	</script>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>
		Vue.component('team-member', {
			template: '#team-member-template',
			data() {
				return {
					currency: '$'				};
			},
			props: {
				person: Object,
				filter: Object
			},
			computed: {
				/* CSS Classes */
				activeClass() {
					return (this.person.isActive ? 'is-active' : 'is-inactive');
				},
				balanceClass() {
					let balanceLevel = 'is-success';
					if (this.person.balance < 2000.0) {
						balanceLevel = 'is-error';
					} else if (this.person.balance < 3000.0) {
						balanceLevel = 'is-warning';
					}

					let increasing = false;
					let bal = this.person.balance / 1000.0;
					if (Math.round(bal) == Math.ceil(bal)) {
						increasing = 'increasing'
					}
					return [balanceLevel, increasing]
				},
				balanceAmount() {
					return this.currency + this.person.balance.toFixed(2);
				},
				dateRegistered() {
					date = new Date(this.person.registered);
					return date.toLocaleString('en-US');
				},
				status() {
					return (this.person.isActive ? 'Active' : 'Inactive');
				}
			},
			methods: {
				filterRow() {
					let visible = true;
					let field = this.filter.field;
					let query = this.filter.query;
					if (field) {
						if (this.filter.field === 'isActive') {
							visible = (typeof query === 'boolean') ? (this.person.isActive === query) : true;
						} else {
							query = String(query);
							field = this.person[field];
							if (typeof field === 'number') {
								try {
									visible = eval(field + query);
								} catch(error) {}
							} else {
								visible = field.includes(query.toLowerCase());
							}							
						}
					} 
					return visible;
				}
			}
		});

		Vue.component('filtering', {
			template: '#filtering-template',
			data() {
				return {
				}
			},
			props: {
				filter: Object
			},
			methods: {
				isActiveFilterSelected(){
					return (this.filter.field === 'isActive');
				},
				changeFilterField(event) {
					this.$emit('change-filter-field', event.target.value);
				}
			},
			watch: {
				'filter.query': function() {
					this.$emit('change-filter-query', this.filter.query)
				}
			}
		});
			

		const app = new Vue({
			el: "#app",
			data: {
				filter: {
					field: "",
					query: "",
				},
				people: [
				  {
				    "index": 0,
				    "guid": "83cf65d1-c6eb-4b0f-9433-72368f8af286",
				    "isActive": true,
				    "balance": 3891.79,
				    "name": "Haley Hudson",
				    "email": "haleyhudson@rooforia.com",
				    "registered": "2018-07-30T11:37:27"
				  },
				  {
				    "index": 1,
				    "guid": "252acdd9-49d4-4455-a149-46238f09a7d6",
				    "isActive": true,
				    "balance": 2374.25,
				    "name": "Rutledge Adkins",
				    "email": "rutledgeadkins@rooforia.com",
				    "registered": "2018-01-28T07:02:51"
				  },
				  {
				    "index": 2,
				    "guid": "350ccc8d-1900-49ac-aed0-3bd7d0b8ff75",
				    "isActive": false,
				    "balance": 2540.34,
				    "name": "Shields Odonnell",
				    "email": "shieldsodonnell@rooforia.com",
				    "registered": "2018-06-16T06:43:22"
				  },
				  {
				    "index": 3,
				    "guid": "f524f294-ba67-4b89-897b-212abc7c84b8",
				    "isActive": false,
				    "balance": 2588.39,
				    "name": "Richards Farrell",
				    "email": "richardsfarrell@rooforia.com",
				    "registered": "2014-09-18T05:03:21"
				  },
				  {
				    "index": 4,
				    "guid": "6c208316-4bac-4d71-aac4-4980ca5caf87",
				    "isActive": true,
				    "balance": 2587.77,
				    "name": "Page Koch",
				    "email": "pagekoch@rooforia.com",
				    "registered": "2018-02-22T02:03:05"
				  }
				]
			},
			methods: {
				changeFilter(field) {
					this.filter.query = '';
					this.filter.field = field;
				},
				changeQuery(query) {
					this.filter.query = query;
				}
			}
		})
	</script>
</body>
</html>